@font-face {
  font-family: "FOT-TsukuAOldMin Pr6N";
  src: url("/fonts/FOT-TsukuAOldMinPr6N.woff2") format("woff2"),
    url("/fonts/FOT-TsukuAOldMinPr6N.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  color: #efeadf;
}
body {
  font-family: "Manrope", sans-serif;
  background-color: #120d09;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1rem;
}
/* Fonts  */
.mincho {
  font-family: "Shippori Mincho", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
/* Alt of FreightBigCmp Pro */
.poetic_title {
  font-family: "Shippori Mincho", serif;
}
.hero_font {
  font-family: "FOT-TsukuAOldMin Pr6N", serif;
}
.bg_black {
  background-color: #120d09;
}
.bg_sec_black {
  background-color: #272522;
}
.color_brand {
  color: #64512c;
}
/* typography  varient   */
.body0 {
  font-size: 0.6875rem; /* 11px */
}
.body1 {
  font-size: 0.8125rem; /* 13px */
}
.body2 {
  font-size: 1rem; /* 16px */
}
.heading3 {
  font-size: 2rem; /* 32px */
}
.heading4 {
  font-size: 1.75rem; /* 28px */
}
.heading5 {
  font-size: 1.5rem; /* 24px */
  font-family: "Shippori Mincho", serif;
  font-weight: 300;
}
.heading6 {
  font-size: 1.25rem; /* 20px */
}
.headingxl {
  font-size: 72px; /* 72px */
  font-family: "Shippori Mincho", serif;
}
/* border  */
.border_b {
  border-bottom: 1px solid #efeadf;
}

.section_container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
}
